<!-- chat/templates/chat/room.html -->
{% extends 'base/base.html' %}
{% load static %}
{% block medical_page_css %}
{% endblock %}
{% block medical_page_js %}
{% endblock %}
{% block content %}
    <div class="chat-room-container">
        <div class="chat-room-name">
            <span>聊天室</span>
        </div>
        <div class="chat-room-data-body">
            <template id="message-item">
                <div class="message-body-wrapper">
                    <div class="chat-user-info">
                        <div class="name">
                            <span></span>
                        </div>
                        <div class="avatar">
                            <img src="#" alt="avatar">
                        </div>
                    </div>
                    <div class="chat-message-info">
                        <div class="time-bar">
                            <span></span>
                        </div>
                        <div class="message-content">
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <div class="input-dock">
            <input id="chat-message-input" type="text" size="100" placeholder="请示输入聊天内容"><br>
            <input id="chat-message-submit" type="button" value="Send">
        </div>
    </div>
    <br>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const dataBody = document.querySelector('.chat-room-data-body');

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        // Append value to the textarea.
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if ('content' in document.createElement('template')) {
                let template = document.querySelector('#message-item');
                let rootNode = template.content.querySelector('.message-body-wrapper');
                rootNode.querySelector('.chat-user-info .name span').textContent = data['user']['name'];
                rootNode.querySelector('.chat-user-info .avatar img').setAttribute('src', data['user']['avatar_path']);
                rootNode.querySelector('.time-bar span').textContent = data['time'];
                rootNode.querySelector('.message-content').textContent = data['message'];
                let clone = document.importNode(template.content, true);
                dataBody.appendChild(clone);
            }
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
    <style>
        .chat-room-container {
            min-height: 800px;
            max-height: 800px;
            max-width: 1180px;
            width: 100%;
            border-radius: 12px;
            border: 1px solid #00c792;
            margin: 0 -16px;
            padding: 12px 16px;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
            position: relative;
            background-color: white;
        }

        .chat-room-name {
            border-bottom: 1px solid black;
            text-align: center;
            font-size: 1.5em;
        }

        .chat-room-data-body {
            justify-content: center;
        }

        .message-body-wrapper {
            width: 100%;
            margin: 10px 0;
            display: flex;
        }

        .chat-user-info {
            height: 120px;
            width: 100px;
        }

        .chat-user-info .name {
            text-align: center;
            width: 100%;
            margin-bottom: 5px;
        }

        .chat-user-info .avatar {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            margin: 0 auto;
        }

        .avatar img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }

        .chat-message-info {
            width: 100%;
        }

        .chat-message-info .message-content {
            min-height: 100px;
            width: 90%;
            border: 1px solid black;
            border-radius: 10px;
            padding: 10px;
            font-size: 1.5em;
        }

        .input-dock {
            display: flex;
            justify-content: space-around;
            width: 95%;
            position: absolute;
            bottom: 5px;
            left: 2.5%;
            border-top: 1px solid black;
            padding: 10px;
        }

        .input-dock #chat-message-input {
            width: 70%;
            height: 50px;
            border: 1px solid black;
            border-radius: 10px;
            padding: 10px;
            background-color: #E9ECEF;
        }

        .input-dock #chat-message-submit {
            width: 25%;
            border-radius: 10px;
            background-color: #4CAF50;
        }
    </style>
{% endblock %}
