{% extends 'base/base.html' %}
{% load static %}
{% block medical_page_css %}
    <link rel="stylesheet" type="text/css" href="{% static "medical/css/page/custom-pages-hospital-index.css" %}">
{% endblock %}
{% block content %}
    <div class="breadcrumb">
        <h1 class="main-title">
            <span>查医院</span>
        </h1>
    </div>
    <div class="hospital-list">
        <div class="hospital-list-data-container">
            {% for hospital in hospital_data_list %}
                <div class="content">
                    <div class="content-left">
                        <img src="{% static hospital.badge_path %}" alt="hospital"/>
                    </div>
                    <div class="content-right">
                        <div class="content-right-title">
                            <div class="content-right-name">
                                <a href="{{ hospital.details_url }}">
                                    <h3>{{ hospital.name }}</h3>
                                </a>
                            </div>
                            <div class="tag-data">
                                {% for tag_datum in hospital.tag_data %}
                                    <span>{{ tag_datum }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="content-right-body">

                        </div>
                        <div class="content-right-address_name">
                            {{ hospital.address_name }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}