{% load static html model view empty %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-1">
            <input class="message-checkbox" type="checkbox" value="{{ card_data.chat_room_id }}">
        </div>
        <div class="col-11">
            <a href="{% url 'chat:room-advanced' chat_room_id=card_data.chat_room_id %}">
                <div class="chat_list {% if action_room_id is not None and active_room_id == card_data.chat_room_id %}active_chat{% endif %}">
                    <div class="chat_people">
                        <div class="chat_img">
                            <img src="{{ card_data.user_info.avatar_path }}" alt="sunil">
                        </div>
                        <div class="chat_ib">
                            <h5>
                                {{ card_data.chat_room }} - {{ card_data.meta_info.type }}
                                <span class="chat_date">{{ card_data.meta_info.last_send_time }}</span>
                            </h5>
                            <p>{{ card_data.message }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

