{% extends 'base/base.html' %}
{% load static %}
{% block medical_page_css %}
    <link rel="stylesheet" type="text/css" href="{% static "medical/css/page/custom-pages-epidemic-index.css" %}">
{% endblock %}
{% block content %}
    <div class="breadcrumb">
        <h1 class="main-title">
            <span>四川疫情实时数据报告</span>
        </h1>
    </div>
    <div class="epidemic-data">
        <div class="virus-data">
            <div class="content">
                {% for virus_data_item in virus_data %}
                    <div class="virus-data-item">
                <span>
                    {{ virus_data_item.label }}
                </span>
                        <p>
                            {{ virus_data_item.data }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="grow-chart">
            {{ bar_data|safe }}
            {{ pie_data|safe }}
        </div>
    </div>
{% endblock %}