{% if data is not None %}
    <div class="shadow container rounded rounded-3 bg-white p-3 mb-2">
        <span>{{ data.title }}</span>
        <div class="row row-cols-4 justify-content-around">
            {% for item in data.items %}
                <div class="col-2">
                        <span>
                            {{ item.label }}
                        </span>
                    <p>
                        {{ item.data }}
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="row row-cols-2 justify-content-around">
            {% for item in data.charts %}
                <div class="col-6">{{ item|safe }}</div>
            {% endfor %}
        </div>
    </div>
{% endif %}