{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "medical/css/components/daily_subscribe.css" %}">
{% for dict in daily_vaccinations %}
    <div class="mz_ta mz_ta_{{ forloop.counter0 }}{% if forloop.counter0 != 0 %} none{% else %} table_show{% endif %}">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr class="tr1">
                <td width="50%">上午</td>
                <td width="50%">下午</td>
            </tr>
            <tr id="list">
                {% for key, vaccinations_dict in dict.items %}
                    {% for vaccinations in vaccinations_dict.values %}
                        {% if vaccinations|length == 0 %}
                            <td><span>暂无活动!</span></td>
                        {% else %}
                            <td valign="top">
                                <ul class="mz_lb">
                                    {% for vaccination in vaccinations %}
                                        <li>
                                            <p>
                                            <h2><strong>{{ vaccination.title }}</strong></h2>
                                            <span>
                                            {{ vaccination.related_builder_area.related_office_area.related_hospital.name }}
                                            </span>
                                            <span>
                                            -{{ vaccination.related_builder_area.related_office_area.name }}
                                            </span>
                                            <span>
                                                 -{{ vaccination.related_builder_area.name }}
                                            </span>
                                            </p>
                                            <span>{{ vaccination.amount_of_subscribe }}/{{ vaccination.amount_of_vaccine }}</span>
                                            <button class="subscribe-btn" value="{% url 'medical:activity-vaccination-subscribe-form' vaccination.id %}"
                                                    {% if vaccination.is_due %}disabled{% endif %}>{% if vaccination.is_due %}已过期!!!!停止{% endif %}预约
                                            </button>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
{% endfor %}

