{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "medical/css/components/daily_subscribe.css" %}">
<div class="mz_ta">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr class="tr1">
            <td width="50%">上午</td>
            <td width="50%">下午</td>
        </tr>
        <tr id="list">
            <td valign="top">
                <ul class="mz_lb">
                    <li>
                        <span>浙大二院-XXX园区-XXX楼</span><span>11/50</span>
                        <button class="subscribe-btn">预约</button>
                    </li>
                    <li>
                        <span>浙大三院-XXX园区-XXX楼</span><span>11/50</span>
                        <button class="subscribe-btn">预约</button>
                    </li>
                </ul>
            </td>
            <td valign="top">
                <ul class="mz_lb">
                    <li>
                        <span>浙大二院-XXX园区-XXX楼</span><span>11/50</span>
                        <button class="subscribe-btn">预约</button>
                    </li>
                    <li>
                        <span>浙大三院-XXX园区-XXX楼</span><span>11/50</span>
                        <button class="subscribe-btn">预约</button>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>