{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "medical/css/components/week-box.css" %}">
<script src="{% static "medical/js/week-box.js" %}" type="application/javascript"></script>
<div class="week-box">
    <nav class="nav-week">
        <ul id="nav-week-list">
            <li id="li1" class="crt">
                <a attrid="1">星期一</a>
            </li>
            <li id="li2">
                <a attrid="2">星期二</a>
            </li>
            <li id="li3" class="line">
                <a attrid="3">星期三</a>
            </li>
            <li id="li4">
                <a attrid="4">星期四</a>
            </li>
            <li id="li5">
                <a attrid="5">星期五</a>
            </li>
            <li id="li6" class="line">
                <a attrid="6">星期六</a>
            </li>
            <li id="li7">
                <a attrid="7">星期日</a>
            </li>
        </ul>
    </nav>
</div>
