{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "medical/css/components/week-box.css" %}">
<script src="{% static "medical/js/week-box.js" %}" type="application/javascript"></script>
<div class="week-box">
    <nav class="nav-week">
        <ul id="nav-week-list">
            {% for dict in daily_vaccinations %}
                {% for key0, key1 in dict %}
                    <li id="li{{ forloop.parentloop.counter0 }}"
                            {% if forloop.parentloop.counter0 == 2 or forloop.parentloop.counter0 == 5 %}
                        class="line"
                            {% elif forloop.parentloop.counter0 == 0 %}
                        class="crt"
                            {% endif %}>
                        <a attrid="{{ forloop.parentloop.counter0 }}">{{ key0 }}</a>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </nav>
</div>
