<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">

<section id="comments">
    <div id="gitalk-container">
        <div class="gt-container">
            <div class="gt-meta">
                <span class="gt-counts"></span>
                <div class="gt-user"></div>
            </div>
            <div class="gt-header">
                <a class="gt-avatar-github"></a>
                <div class="gt-header-comment"></div>
            </div>
            <div class="gt-comments">
                <div style="position: relative">
                    <div class="gt-comment" style="transform-origin: center top;"></div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>