<!------ Include the above in your HEAD tag ---------->
<!-- chat/templates/chat/room.html -->
{% extends 'base/base.html' %}
{% load static message %}
{% block medical_page_css %}
    <link href="{% static 'chat/css/bootstrap.min.css' %}" type="text/css"
          rel="stylesheet">
    <link href="{% static 'chat/css/font-awesome.css' %}" type="text/css"
          rel="stylesheet">
    <link href="{% static 'chat/css/room-advanced.css' %}" type="text/css"
          rel="stylesheet">
{% endblock %}
{% block medical_page_js %}
    <script src="{% static 'chat/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'chat/js/jquery.min.js' %}"></script>
    <script src="{% static 'chat/js/room_advanced.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="breadcrumb">
        <h1 class="main-title">
            <span>聊天频道</span>
        </h1>
    </div>
    <div class="container">
        <div class="accordion" id="accordionExample">
            {% include 'chat/components/message/channel/doctor_chat_cards.html' with doctors=doctors %}
            {% include 'chat/components/message/channel/vaccination_chat_cards.html' with vaccinations=vaccinations %}
            {% include 'chat/components/message/channel/official_account_chat_cards.html' with official_accounts=official_accounts %}
        </div>
    </div>
{% endblock %}