{% extends 'base/form_base.html' %}
{% load static %}
{% block medical_page_css %}
    <link rel="stylesheet" type="text/css"
          href="{% static "medical/css/page/custom-pages-activity-vaccination-subscribe_form.css" %}">
{% endblock %}
{% block medical_page_js %}
{% endblock %}
{% block content %}
    <div class="left-content-container content-container">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'medical:home-page' %}">首页</a>
            </li>
            <li>
                疫苗接种预约表单
            </li>
        </ol>
        <div class="title-container">
            <h1 class="page-title">疫苗接种预约</h1>
        </div>
        <div class="form-container">
            <form action="{% url 'medical:activity-vaccination-subscribe-form' form.initial.related_vaccination.id %}"
                  method="POST">
                {% csrf_token %}
                {{ form }}
                <div class="submit-row">
                    <input type="submit" value="提交">
                </div>
            </form>
        </div>
    </div>
    <div class="right-content-container content-container">
        <div class="vaccination-info">
        </div>
    </div>
{% endblock %}
