{% load static menu_tag bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="{% static "medical/css/base/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "medical/css/library/common.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "medical/css/components/menu.css" %}">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'base/css/bootstrap.min.css' %}" type="text/css"
          rel="stylesheet">
    <link href="{% static 'base/css/font-awesome.css' %}" type="text/css"
          rel="stylesheet">
    <script src="{% static 'base/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'base/js/jquery.min.js' %}"></script>
    <script type="application/javascript" src="{% static "medical/js/base.js" %}"></script>
    {% block medical_page_css %}
    {% endblock %}
    {% block medical_page_js %}
    {% endblock %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<div id="container">
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/medical/">医疗系统</a></h1>
        </div>
        <div id="user-tools">
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}</p>
                <a href="{% url 'portal_auth:logout' %}">登出</a>
            {% else %}
                <a href="{% url 'portal_auth:login-page' %}">登录</a>
            {% endif %}
        </div>
    </div>
    <div id="header-menu" class="header-menu">
        {% menu_item_list %}
    </div>
    <div class="medical-main">
        <div class="medical-main-container fix">
            {% block content %}
                <section id="main">
                    Default content
                </section>
            {% endblock content %}
        </div>
    </div>
    <div class="toast-container">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small class="text-muted">just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                See? Just like this.
            </div>
        </div>

        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small class="text-muted">2 seconds ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Heads up, toasts will stack automatically
            </div>
        </div>
    </div>
</div>
{% block inline_script %}
{% endblock %}
</body>
</html>
