<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Archive post</title>
</head>
<body>
<article class="archive-article archive-type-post">
    <div class="archive-article-inner">
        <header class="archive-article-header">
            <a class="archive-article-date"
               href="{% url 'weblog:day-archive' blog.publish_time.year blog.publish_time.month blog.publish_time.day %}">
                <time datetime="">{{ blog.publish_time.year }}年{{ blog.publish_time.month }}月{{ blog.publish_time.day }}日</time>
            </a>
            <h1 itemprop="name">
                <a class="archive-article-title" href="{% url 'weblog:id-blog' blog.id %}">
                    {{ blog.title }}
                </a>
            </h1>
        </header>
    </div>
</article>
</body>
</html>