{% extends 'base/layout/form/apply.html' %}
{% load static bootstrap5 breadcrumb_tag news %}
{% block breadcrumb_content %}
    志愿者申请表单
{% endblock %}
{% block form_title %}
    申请成为志愿者
{% endblock %}
{% block help_text %}
    请注意正确填写信息，并注意申请活动的开始时间。
{% endblock %}
{% block form %}
    <form action="{% url 'medical:volunteer-register-form' %}"
          method="POST" class="g-3 needs-validation">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit='提交' reset="清空表单" %}{% endbuttons %}
    </form>
{% endblock %}
{% block rightconent %}
    {% recent_news_cards %}
{% endblock %}